<div class="fortune_result_container">
  <div class="fortune_result">
    <h1><%= image_tag "#{@sign}.png", class:"fortune_result_image" %><%= @sign %>の占い結果</h1>
    <% if @horoscope['rank']!=12 %>
      <h2>第<%= @horoscope['rank'] %>位です。</h2>
    <% else %>
      <h2>最下位です…(:_;)</h2>
    <% end %>
    <h4><%= @horoscope['content'] %></h4>
    <p>【ラッキーアイテム】<%= @horoscope['item'] %></p>
    <p>【ラッキーカラー】<%= @horoscope['color'] %></p>
    <p>【総合運】<%= "☆" * @horoscope['total'] %></p>
    <p>【金運】<%= "☆" * @horoscope['money'] %></p>
    <p>【仕事運】<%= "☆" * @horoscope['job'] %></p>
    <p>【恋愛運】<%= "☆" * @horoscope['love'] %></p>
  </div>
  
  <div class="twitter_share_container">
    <%= link_to "https://twitter.com/share?url=#{request.url}", target: '_blank', class: "twitter_share" do %>
      <i class="fa-brands fa-square-x-twitter"></i>結果をXでシェア
    <%end%>
    <%= link_to '戻る', request.referrer, class: "wiki_link" %>
  </div>
</div>
