<div class="planet_detail">
  <% @planets_data['results'].each do |object| %>
    <div class="planet_info">
      <div class="text_content">
        <div class="text_upper_part">
          <div class="text_upper_part_name">
            <h1><%= object['jpName'] %><span></h1>
            <h3><%= object['enName'] %></h3>
          </div>
            <h4>【方角】 <%= object['direction'] %></h4>
            <h4>【高度】 <%= object['altitude'] %></h4>
            <p>※「水平線の下」と表示されている場合、現在観測できません。</p>
        </div>
        <div class="text_beneath">
          <p><%= object['content'] %></p>
          <h4>【神話】</h4>
          <p><%= object['origin'] %></p>
        </div>
      </div>
      <div class="image_content">
        <%= image_tag object['starImage'], height: "400px", style: "border-radius: 50%; box-shadow: 0 0 15px white;" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  navigator.geolocation.getCurrentPosition(function(position) {
    $.ajax({
      url: '/update_location',  // 現在地情報を送信するエンドポイント
      type: 'POST',
      data: { 
        latitude: position.coords.latitude, 
        longitude: position.coords.longitude 
      }
    });
  });
  </script>