<!DOCTYPE html>
<html>
  <head>
    <title>星の図鑑</title>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://kit.fontawesome.com/db12d6f744.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    
    <header>
      <%= render "shared/header" %>
    </header>
    
    <main>
      <div id="content">

        <%= image_tag '星(大).png', class: 'shooting-bigstar star' %>
        <%= image_tag '星(中).png', class: 'shooting-middlestar star' %>
        <%= image_tag '星(小).png', class: 'shooting-smallstar star' %>

        <%= yield %>

      </div>
    </main>

    <footer>
      <%= render "shared/footer" %>
    </footer>
  
  </body>

</html>
